
  @import url('https://fonts.googleapis.com/css2?family=Karla&family=Oswald:wght@400;700&family=Poppins&family=Source+Serif+4:opsz@8..60&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #F2FEDC;
}

a{
    text-decoration: none;
}


#top{
    width: 100%;
    height: 100vh;
    padding: 0 10%;
    /* background-color: #E6F4F1; */
}

nav.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 0;
}

.nav-bar .logo{
    width: 20%;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
}

.nav-bar .nav-items{
    width: 70%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}


a.nav-item{
    text-decoration: none;
    margin-left: 6%;
    color: black;
    font-size: 1.3rem;
    font-family: 'Karla', sans-serif;
}

a.nav-item:hover{
    text-decoration: underline;
}

/* Intro Section */


#intro{
    min-height:fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 6%;
}

.social{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.social a{
    text-decoration: none;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkblue;
}


.intro-content{
    width: 35%;
    margin-left: 3%;
}

.intro-content h3{
    font-size: 3.3rem;
    font-family: 'Karla', sans-serif;
    margin-bottom: 2%;
    font-weight: 700;
}

.intro-content h5{
    font-size: 1.8rem;
    font-family: 'Karla', sans-serif;
    margin-bottom: 2%;
}

.intro-content p{
    font-size: 1.5rem;
    font-family: 'Source Serif 4', serif;
    margin-bottom: 2%;
}

.intro-content .intro-btn{
    padding: 2% 3%;
    border-radius: 5px;
    background-color: black;
    color: #F8F8FF;
    font-size: 1.5rem;
    margin-top: 8%;
}

.intro-btn a{
    text-decoration: none;
    color:#fff;
}

.intro-btn a:visited{
    color: #fff;
}

.intro-btn:hover{
    text-decoration: underline;
}

.intro-img{
    width: 364px;
    height: 364px;
    background-color: darkblue;
    margin-left: 8%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: start;
    border-radius: 50% 50% 51% 49% / 29% 30% 70% 71%;
    animation: rotate infinite linear 1000ms normal forwards;
}

.intro-img img{
    margin-top: -30%;
    margin-left: 5%;
    width: 380px;
    height: 380px;
}

@keyframes rotate {
    0%   {border-radius: 50% 50% 51% 49% / 29% 30% 70% 71%;}
    25%  {border-radius: 44% 56% 18% 82% / 52% 73% 27% 48%;}
    50%  {border-radius: 70% 30% 69% 31% / 36% 36% 64% 64%;}
    100% {border-radius: 50% 50% 51% 49% / 29% 30% 70% 71%;}
}


#about,#profiency,#resume{
    padding: 3% 10%;
    background-color:#007561;
    color:#FCEEE2;
    height: 100vh;
}

#about h1,#profiency h1{
    text-align: center;
    margin-bottom: 2%;
    font-size: 2.5rem;
    font-family: 'Oswald',sans-serif;
    color: #EEE8A9;
}

#about .about-main{
    display: grid;
    grid-template-columns: 350px 500px;
    justify-content: center;
    column-gap: 10%;
}

.about-main .about-img{
    border: 3px solid #EEE8A9;
}

.about-img img{
    margin-left: 8%;
    margin-bottom: 8%;
    margin-top: 8%;
    width: 100%;
    height:auto;
}

.about-content{
    padding: 10% 0;
}

.about-content p:first-child{
    margin-bottom: 3%;
    font-size: 1.1rem;
    font-family: 'Karla',sans-serif;
}

.about-content h2{
    font-size: 1.8rem;
    margin-bottom: 3%;
    font-family: 'Source Serif 4', serif;
    color: #EEE8A9;
}

.about-content p:nth-of-type(2), .about-content p:nth-of-type(3){
    font-size: 1rem;
    margin-bottom: 3%;
    font-family: 'Poppins',sans-serif;
    text-align: left;
}

.about-content button{
    margin-top: 3%;
    padding: 1.5% 2.5%;
    background-color: #EEE8A9;
    color: #007561;
    font-size: 1.2rem;
    border-style: none;
    border-radius: 5px;
}

button a:visited{
    color: #007561;
}


#skills,#categories{
    width: 100%;
    height: 100vh;
    padding: 2% 10%;
    background-color: #F2FEDC;
}

#skills h1{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
    font-size: 2rem;
}

#skills .skill-main{
    width: 100%;
    padding: 0 8%;
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: center;
    gap: 5%;
}

.skill-main .myskill{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 5% 7%;
    border: 1px solid #007561;
    box-shadow: #007561 0px 2px 5px -1px, #007561 0px 1px 3px -1px;
    min-height: 0;
    transition: 0.3s ease-in-out;
}


.myskill img{
    width: 30%;
    height: 80px;
}

.myskill h3{
    margin: 2% 0;
    font-family: 'Oswald',sans-serif;
    font-size: 1.5rem;
    color: #007561;
}

.myskill p{
    margin-bottom: 2%;
    font-size: 1.1rem;
    font-family: 'Karla',sans-serif;
    text-align: center;
}

/* Profiency */

#profiency{
    height: 100vh;
}

.main-skill{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
    align-items: center;
    color: #007561;
    margin: 10% 0;
}

.main-skill .skill_list{
    background-color: #F8F8FF;
    padding: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: #EEE8A9 0px 2px 8px 0px;
}

.skill_list ul{
    list-style-type: none;
    width: 100%;
    margin: 4% 0;
}

ul .progress{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 8% 0;
}

.progress p{
    width: 20%;
    font-size: 1.2rem;
    margin-bottom: 2%;
}

.progress .bar{
    width: 90%;
    height: 12px;
    background-color: #007561;
}

.bar span{
    float: left;
    height: 12px;
    background-color:#EEE8A9;
}

.html{
    width: 60%;
    animation: html 1s;
}

.css{
    width: 80%;
    animation: css 1s;
}

.js{
    width: 90%;
    animation: js 1s;
}

@keyframes html {
    0% {
        width: 0;
    }
    100% {
        width: 60%;
    }
}


@keyframes css {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}

@keyframes js {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}



/* Projects */


.categories{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4%;
    padding: 3% 0;
}

#categories h1{
    text-align: center;
    margin: 4% 0;
    font-family: 'Karla', sans-serif; 
    font-size: 3rem;
}

.cat{
    background-color: #fff;
    color:#000000;
    border-radius: 8px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cat img{
    width: 98%;
    margin: 1%;
    height: 200px;
}

.cat::after{
    content: "";
    width: 0;
    height:300px;
    background-color:#007561;
    opacity: 30%;
    display: block;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    transition: width 2s;
}

.cat:hover::after{
    z-index:5;
    width: 100%;
}

.cat h2{
    text-align: center;
    font-size: 1.5rem;
    font-family:'Poppins',sans-serif;
    font-weight: bold;
    margin: 2% 0;
    color:#000000;
    padding: 2.5%;
}

.cat p{
    text-align: center;
    font-size: 1rem;
    font-family:'Poppins',sans-serif;
    margin: 2% 0;
    color:#000000;
    padding: 2.5%;
    display: none;
    transition: display 0.3s ease-in;
}

.cat .hidden{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat:nth-of-type(4){
    grid-column-start: 1;
    grid-column-end: 3s;
}

.hidden button{
    margin: 3% 0;
    padding: 1.5% 2%;
    width: 85%;
    background-color:#007561;
    color: #000000;
    transition: background-color 0.5s;
    border-style: none;
    border-radius: 4px;

}

.hidden button a{
    color: #EEE8A9;
}

.hidden button:hover{
    background-color: #000000;
    color: white;
}


@media screen and (max-width:600px) {
    #categories{
        width: 100%;
    }
    .categories{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cat{
        margin-top: 5%;
    }
}

/* Resume Section */

#resume{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#resume h2{
    font-size: 2rem;
    font-family: 'SourceSerif',sans-serif;
    margin: 3% 0;
}

#resume p{
    font-size: 1.2rem;
    font-family: 'Karla',sans-serif;
    margin-bottom: 3%;
}

#resume button{
    font-size: 1.2rem;
    padding: 1% 2%;
    border-radius: 10px;
    border-color: #EEE8A9;
    background-color: #EEE8A9;
}

#resume button a{
    color: #007561;
}

/*Contact Section */

#contact{
    padding: 2% 10%;
    background-color: #F2FEDC;
    height: 100vh;
    display: grid;
    grid-template-columns: 55% 35%;
    justify-content: space-evenly;
    align-items: center;
}

#contact .mydetails{
    padding: 2%;    
}

.mydetails h1{
    font-size: 3.5rem;
    line-height: 1;
    font-family: 'Karla',sans-serif;
    margin-bottom: 2%;
}

.mydetails p{
    font-size: 1.2rem;
    margin: 4% 0;
    font-family: 'Karla',sans-serif;
}

.mydetails .mail{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 2% 0;
}

.mail box-icon{
    width: 40px;
    height: 40px;
    border: 1px solid;
    padding: 1%;
    border-radius: 4px;
    background-color: #fff;
}

.mail .mail-content{
    margin: 0 3%;
}

.mail-content p{
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    margin: 1% 0;
}


.contact-form {
    padding: 6%;
    background-color: #007561;
}

.contact-form h2{
    font-size: 2rem;
    font-family: 'Poppins',sans-serif;
    color: #fff;
    margin: 2% 0;
}

.contact-form form input{
    width: 100%;
    padding: 1.7%;
    margin: 2% 0;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #F2FEDC;
    color: darkblue;
    font-family: 'Karla',sans-serif;
}

form p{
    font-size: 1.1rem;
    font-family: 'Poppins',sans-serif;
    margin: 2% 0;
    color: #fff;
}

form textarea{
    background-color: #F2FEDC;
    width: 100%;
}

form input[type="button"]{
    width: fit-content;
    font-size: 1.1rem;
    font-family: 'Karla',sans-serif;
    padding: 3%;
    margin-top: 5%;
    color: darkblue;
    font-weight: bold;
}

/* footer */

/* General Styles */
footer {
    background-color: #007561;
    color: #fff;
    padding: 3%;
    font-family: 'Poppins',sans-serif;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
  }
  
  /* About Section */
  .footer-about {
    width: 30%;
  }

  .footer-about h4,.footer-contact h4,.footer-links h4{
    margin-bottom: 4%;
  }
  
  /* Quick Links Section */
  .footer-links {
    width: 30%;
  }
  
  .footer-links ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-links li {
    margin-bottom: 8px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  /* Contact Section */
  .footer-contact {
    width: 30%;
  }
  
  /* Social Media Section */
  .footer-social {
    width: 10%;
    margin: 2% 0;
  }
  
  .footer-social ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-social li {
    margin-top:7%;
  }
  
  .footer-social a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .footer-social a:hover {
    color: #ffd700; /* Change color on hover */
  }
  
  /* Bottom Section */
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Font Awesome Icons (Assuming you're using Font Awesome) */
  .fa {
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 5px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-about,
    .footer-links,
    .footer-contact,
    .footer-social {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  




